<h1>Guest List</h1>

<%= link_to 'Invite a Guest', new_user_path %>
<br />
<br />

<table>
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th>E-mail address</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.last_name + ', ' + user.first_name, user %></td>
      <td><%=h user.login %></td> 
      <td><%=h user.email %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Invite a Guest', new_user_path %>
