<h1>Edit Event <%= @event.name %> </h1>

<% form_for @event do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Update" %>
<% end %>

<br /><%= link_to "Back to This Event", event_path %>


