<h1>Event List</h1>

<%= link_to 'Create an Event', new_event_path %>
<br />
<br />

<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Start Time</th>
    <th>End Time</th>
  </tr>
  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.name, event %></td>
      <td><%=h event.location %></td>
      <td><%=h event.start_time %></td>
      <td><%=h event.end_time %></td>
    </tr>
  <% end %>
</table>

<br />
<%= link_to 'Create an Event', new_event_path %>
