<h2>Viewing Registry: <%=h @registry.name %></h2>

<% if flash[:notice] %>
<div class="success"><%= flash[:notice] %></div>
<% end %>

<div>
  <table>
    <% @registry.items.each do |i| %>
      <tr>
        <table>
          <tr>
            <td rowspan=3><img src="<%=h i.picture %>" width="100px" height="100px"></td>
            <td colspan=3><%= link_to i.name, i.website %></td>
          </tr>
          <tr>
            <td>Price: $<%=h i.price %> ea.</td>
            <td>SKU: <%=h i.sku %></td>
            <td>Qty: <%=h i.quantity - i.qtybought %></td>
          </tr>
          <tr>
            <td colspan=2><b>Located At:
              <% @store = i.store %>
              <%= link_to @store.name, @store.website %>
            </b></td>
            <td><%= button_to 'Buy', :controller => "items", :action => "buy", :id => i %></td>
          </tr>
        </table>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to 'Add Item', new_registry_item_path(@registry) %> | 
<%= link_to 'Edit', edit_registry_path(@registry) %> |
<%= link_to 'Back', registries_path %>
